@model AdminModel;

<div>
    <span><h1 class="text-center text-info">ACC Map Decision - Questions <form asp-controller="Admin" asp-action="Logout" ><input class="btn btn-info" type="Submit" value="Logout"></form></h1></span>
    <span id="lblExpire" class="text-warning" style="margin-left:10px; font-size: medium;"></span>
     <div style="padding-bottom: 5px">
        <a href="Index"><input type="submit" class="btn btn-info" value="Back"/></a>
    </div>
    <div class="container">
    </div>
</div>