@model AdminModel
<div>
    <span><h1 class="text-center text-info">ACC Map Decision - Admin Panel<form asp-controller="Admin" asp-action="Logout" ><input class="btn btn-info" type="Submit" value="Logout"></form></h1></span>
</div>