@model AdminModel
<div>
    <span><h1 class="text-center text-info">ACC Map Decision - Admin Panel   <form asp-controller="Admin" asp-action="Logout" ><input class="btn btn-info" type="Submit" value="Logout"></form></h1></span>
    <span id="lblExpire" class="text-warning" style="margin-left:10px; font-size: medium;"></span>

    <div class="container">
        <div class="adminPanelRow row"><form asp-controller="Admin" asp-action="AllCourses"><input class="adminpanelbtn btn btn-info" type="Submit" value="View Courses"></form></div>
        <div class="adminPanelRow row"><form><input class="adminpanelbtn btn btn-info" type="Submit" value="View Course Semesters"></form></div>
        <div class="adminPanelRow row"><form><input class="adminpanelbtn btn btn-info" type="Submit" value="View Pre-requisits"></form></div>
        <div class="adminPanelRow row"><form asp-controller="Admin" asp-action="AllSemesters"><input class="adminpanelbtn btn btn-info" type="Submit" value="View Semesters"></form></div>
    </div>  
</div>