@model UserResponseManager

<div>
    <span>
        <h1 class="text-info text-center">ACC Map Decsion    
            <form asp-controller="Login" asp-action="Index" ><input class="btn btn-info" type="Submit" value="Login"></form>
        </h1>
    </span>

    <div class="container my-4 text-center">

        @if (Model.userResponse.totalCourseUnits < 8.0 ) {
            <h2 class="text-center">Sorry, you do not qualify for ACC Certificate</h2>
            <form asp-controller="Home" asp-action="Index" ><input class="btn btn-info my-4" type="Submit" value="Go Back to Homepage"></form>
        } else {
            <h2 class="text-center">You qualify for ACC Certificate</h2>
            <form asp-controller="Home" asp-action="SelectCourses" >
                <input type="hidden" asp-for="@Model.userResponseState" value="@Model.userResponseState">
                <input type="hidden" name="currentSemesterID" value="1">
                <input class="btn btn-info my-4" type="Submit" value="Select Courses for Each Semester">
            </form>
        }
        
    </div>
</div>