<div>
    <span><h1 class="text-info text-center">ACC Map Decsion    <form asp-controller="Login" asp-action="Index" ><input class="btn btn-info" type="Submit" value="Login"></form></h1></span>

    <div class="container">
        <h2 class="text-center">Are you thinking of taking ALP or ACC?</h2> 

        <div class="loginCenter">
            <form>
                <div class="buttonContainer text-center">
                    <input class="firstButton btn btn-info" type="submit" value="ALP - Adult Learning Program">
                </div>
                <div class="buttonContainer text-center">
                    <input class="firstButton btn btn-info" type="submit" value="ACC - Academic and Career Connections"> 
                </div>
            </form>
        </div>


    </div>
</div>